# IDE etc
.DS_Store
.idea

# Local .terraform directories
.terraform

# Lock files
.terraform.lock.hcl
yarn.lock

# State files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# SSH keys
.ssh

# Secrets...
*.env

# Dependencies
node_modules

# Builds
*dist
